.background{
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(2px);
    position: absolute;
}

html, body{
    color: white;
    margin: 0;
    padding: 0;
    animation: fade 1s ease-in-out;
}

@keyframes fade{
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

.logo{
    width: 400px;
    height: auto;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 18px;
    margin-left: -80px;
}

.java{
    background-color: yellow;
    color: black;
}

h1{
    font-family: "Poppins";
    font-size: 50px;
    left: 230px;
    position: absolute;   
    top: 112px;
}

::selection{
    background-color: yellow;
    color: black;   
}

.p101{
    position: absolute;
    font-family: "Poppins";
    left: 550px;
    top: 5px;
    font-size: 18px;
    padding: 15px;
}

video{
    width: 600px;
    height: auto;
    position: relative;
    bottom: -290px;
    left: 50px;
    border-radius: 12px;
}

.container2{
    position: absolute;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: auto;
    left: 50%;
    text-align: center;
}

.w3, .codecademy, .javascript-com{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins";
    padding: 15px;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.w3:hover{
    color: green;
    scale: 1.05;
    text-decoration: underline;
}

.codecademy:hover{
    color: rgb(255, 0, 0);
    scale: 1.05;
    text-decoration: underline;
}

.javascript-com:hover{
    color: orange;
    scale: 1.05;
    text-decoration: underline;
}

.note{
    width: 500px;
    height: auto;
    bottom: 60px;
    left: 900px;
    position: absolute;
    border-radius: 10px;
    opacity: 2;
}

h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    padding: 15px;
    text-align: left;
}

.btn {
    position: fixed;
    cursor: pointer;
    border: solid rgb(187, 204, 0);
    font-family: "Poppins";
    font-size: 17px;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    transition: 1074ms;
    width: 126px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(0, 166, 255) 0%, rgb(255, 170, 0) 100%);
    --hover-width: 159px;
    --hover-borderc: #ffaa00;
    --hover-color: #000000;
    --hover-bgc: #ffffff;
    right: 2%;
    margin-top: 280px;

}
    
    .btn:hover{
    color: rgb(0, 0, 0);
    width: 159px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-color: rgb(255, 170, 0);
    border-width: 2px;
    border-style: solid;
}

footer{
        position: fixed;
        width: 100%;
        height: 45px;
        background-color: #1e293b;
        opacity: 0.5;
        font-size: 14px;
        font-family: "Poppins";
        color: whitesmoke;
        text-align: center;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: opacity, font-size 0.2s ease-in;
}
    
footer:hover{
        opacity: 0.9;
        font-size: 16px;
}